<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="container">
    <div class="header">
      <h2 class="title">Tell us about you</h2>
      <p class="subtitle">This information will help us create a custom workout plan for you.</p>
    </div>

    <ion-list>
        <ion-label class="item-label">Height</ion-label>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-input type="number" placeholder="00" class="input-with-unit">
                <div slot="end" class="unit">ft</div>
              </ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-input type="number" placeholder="00" class="input-with-unit">
                <div slot="end" class="unit">in</div>
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

        <ion-label class="item-label">Weight</ion-label>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-input type="number" placeholder="00" class="input-with-unit">
                <div slot="end" class="unit">lbs</div>
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

        <ion-label class="item-label">Demographics</ion-label>
      <ion-item>
        <ion-input type="number" placeholder="Age"></ion-input>
      </ion-item>


      <ion-item>
        <ion-input placeholder="Gender"></ion-input>
      </ion-item>
    </ion-list>

    
  </div>
</ion-content>

<style>
  .container {
    padding: 16px;
  }

  .header {
    margin-bottom: 24px;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .subtitle {
    font-size: 1em;
    color: #666;
  }

  .item-label {
  margin-bottom: 10px !important;
    font-weight: bold;
    color: #666;
  }

  .input-with-unit {
    display: flex;
    align-items: center;
  }

  .unit {
    margin-left: 8px;
    color: #666;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  ion-button {
    --border-radius: 8px;
  }
</style>
