ion-card {
    margin: 16px;
  }
  
  ion-card-title,
  ion-card-subtitle {
    text-align: center;
  }
  
  ion-list-header {
    background: transparent;
    color: #000;
    font-weight: bold;
    margin-top: 16px;
  }
  
  ion-item {
    --background: #f9f9f9;
    --border-color: #e0e0e0;
    border-radius: 8px;
    margin: 8px 0;
  }
  